
.background {
  min-height: 100vh;
  width: 100%;
  background-image: url('/Background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.container {
    width: 100vw;
    min-height: 100vh;
    position: relative; /* Para position absoluta en navContainer si deseas */
  }

/* === CONTENEDOR NAV (BackButton + ToggleMenu) === */
.navContainer {
    position: absolute;
    top: 60px;
    left: 40px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 999; /* Para que quede por encima del contenido */
  }
/* === CONTENEDOR PRINCIPAL === */
.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 100px; /* para dejar espacio a la navContainer arriba */
    min-height: 100vh;  /* para que crezca con el contenido */
  }
  
  /* Título “Hola, Administrador” */
.greeting {
    text-align: center;
    font-size: 35px;
    color: #294d67;
    margin-bottom: 8px;
  }
  
  .subtitle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
    text-align: center;
    color: #000;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .field {
    display: flex;
    flex-direction: column;
  }
  .entrarButton {
    background-color: #9b1d1d;
    font-size: 14px;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 8px;
    width: 100%;
    transition: background-color 0.2s ease;
  }
  .input {
    font-size: 14px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px; /* Igual que el botón */
    outline: none;
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.2s ease;
  }
  
  .input:focus {
    border-color: #9b1d1d;
  }

  
  
  .syncButton:hover {
    background-color: #2c8b47;
  }