/* src/pages/BluetoothSearch.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  
  .scanButton {
    padding: 10px 20px;
    background-color: #006d77;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  
  .scanButton:hover {
    background-color: #1e3f52;
  }
  
  .deviceList {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
  }
  
  .deviceList li {
    padding: 8px;
    background: #f0f0f0;
    margin-bottom: 8px;
    border-radius: 4px;
  }


  /* === CONTENEDOR PRINCIPAL === */
.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 100px; /* para dejar espacio a la navContainer arriba */
  min-height: 100vh;  /* para que crezca con el contenido */
}

.navContainer {
  position: absolute;
  top: 60px;
  left: 40px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 999; /* Para que quede por encima del contenido */
}

.greeting {
  text-align: center;
  font-size: 35px;
  color: #294d67;
  margin-bottom: 8px;
}
