/* src/pages/ClientHome.module.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #fff;
  }
  
  .title {
    font-size: 24px;
    color: #294D67;
    margin-bottom: 8px;
  }
  
  .subtitle {
    font-size: 16px;
    margin-bottom: 20px;
    color: #666;
  }
  
  .scanButton {
    padding: 10px 20px;
    background-color: #006d77;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .scanButton:hover {
    background-color: #005966;
  }