.deleteButton {
  background-color: #f0f0f0;
  font-size: 14px;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 8px;
  width: 200px; /* Fija el ancho del botón a 200px */
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.2s ease; /* Suaviza el cambio de color */
}

/* Efecto cuando el mouse pasa sobre el botón */
.deleteButton:hover {
  background-color: #d0d0d0; /* Oscurece el color de fondo */
}
